.app {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.top-section, .bottom-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-section > div, .bottom-section > div {
  flex: 1; 
  margin-right: 10px;
}

.top-section > div:last-child, .bottom-section > div:last-child {
  margin-right: 0; 
}


.charts {
  max-width: 600px; 
}




@media (max-width: 768px) {
  .top-section, .bottom-section {
    flex-direction: column;
  }

  .top-section > div, .bottom-section > div {
    margin-right: 0;
    margin-bottom: 10px; 
  }

  .top-section > div:last-child, .bottom-section > div:last-child {
    margin-bottom: 0; 
  }
}
